---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/architects/githubfs-test/issues?filter=all&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1435171309'
      Etag:
      - W/"84fa17a16f0fe8fdcca78ce8a0eef842"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/architects/githubfs-test/issues/3","labels_url":"https://api.github.com/repos/architects/githubfs-test/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/architects/githubfs-test/issues/3/comments","events_url":"https://api.github.com/repos/architects/githubfs-test/issues/3/events","html_url":"https://github.com/architects/githubfs-test/issues/3","id":89121439,"number":3,"title":"Issue
        3","user":{"login":"gmonfort","id":120909,"avatar_url":"https://avatars.githubusercontent.com/u/120909?v=3","gravatar_id":"","url":"https://api.github.com/users/gmonfort","html_url":"https://github.com/gmonfort","followers_url":"https://api.github.com/users/gmonfort/followers","following_url":"https://api.github.com/users/gmonfort/following{/other_user}","gists_url":"https://api.github.com/users/gmonfort/gists{/gist_id}","starred_url":"https://api.github.com/users/gmonfort/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gmonfort/subscriptions","organizations_url":"https://api.github.com/users/gmonfort/orgs","repos_url":"https://api.github.com/users/gmonfort/repos","events_url":"https://api.github.com/users/gmonfort/events{/privacy}","received_events_url":"https://api.github.com/users/gmonfort/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":{"url":"https://api.github.com/repos/architects/githubfs-test/milestones/1","html_url":"https://github.com/architects/githubfs-test/milestones/milestone1","labels_url":"https://api.github.com/repos/architects/githubfs-test/milestones/1/labels","id":1169273,"number":1,"title":"milestone1","description":"this
        is milestone 1","creator":{"login":"gmonfort","id":120909,"avatar_url":"https://avatars.githubusercontent.com/u/120909?v=3","gravatar_id":"","url":"https://api.github.com/users/gmonfort","html_url":"https://github.com/gmonfort","followers_url":"https://api.github.com/users/gmonfort/followers","following_url":"https://api.github.com/users/gmonfort/following{/other_user}","gists_url":"https://api.github.com/users/gmonfort/gists{/gist_id}","starred_url":"https://api.github.com/users/gmonfort/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gmonfort/subscriptions","organizations_url":"https://api.github.com/users/gmonfort/orgs","repos_url":"https://api.github.com/users/gmonfort/repos","events_url":"https://api.github.com/users/gmonfort/events{/privacy}","received_events_url":"https://api.github.com/users/gmonfort/received_events","type":"User","site_admin":false},"open_issues":1,"closed_issues":0,"state":"open","created_at":"2015-06-17T20:44:55Z","updated_at":"2015-06-17T20:45:28Z","due_on":"2015-07-16T03:00:00Z","closed_at":null},"comments":0,"created_at":"2015-06-17T20:43:48Z","updated_at":"2015-06-17T20:44:55Z","closed_at":null,"body":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Cras vel mollis nisl. Integer
        lacinia eu nibh id vehicula. Donec in commodo mi, sit amet faucibus nisi.
        Nullam et venenatis odio. Aliquam malesuada, justo at lobortis aliquam, dui
        diam pellentesque tortor, vel ultricies tellus elit et magna. Phasellus dignissim
        leo ac tortor pulvinar, ut volutpat erat c[...]
- request:
    method: get
    uri: https://api.github.com/repos/architects/githubfs-test/issues/3/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1435171309'
      Etag:
      - '"3f3cce0a49316f78435797b6a8df3f24"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 24 Jun 2015 17:41:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/architects/githubfs-test/issues/2/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1435171309'
      Etag:
      - W/"9dc6568a81f18efa449c67d31471e40a"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/architects/githubfs-test/issues/comments/112944771","html_url":"https://github.com/architects/githubfs-test/issues/2#issuecomment-112944771","issue_url":"https://api.github.com/repos/architects/githubfs-test/issues/2","id":112944771,"user":{"login":"gmonfort","id":120909,"avatar_url":"https://avatars.githubusercontent.com/u/120909?v=3","gravatar_id":"","url":"https://api.github.com/users/gmonfort","html_url":"https://github.com/gmonfort","followers_url":"https://api.github.com/users/gmonfort/followers","following_url":"https://api.github.com/users/gmonfort/following{/other_user}","gists_url":"https://api.github.com/users/gmonfort/gists{/gist_id}[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/architects/githubfs-test/milestones?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/architects/githubfs-test/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1435171309'
      Last-Modified:
      - Wed, 10 Dec 2014 21:03:09 GMT
      Etag:
      - W/"bead054c687df9ea8e010128bed3f4f6"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"a1aff73084f6080a68592bbad36f963678e1e467","commit":{"author":{"name":"Jonathan
        Soeder","email":"jonathan.soeder@gmail.com","date":"2014-12-10T21:03:09Z"},"committer":{"name":"Jonathan
        Soeder","email":"jonathan.soeder@gmail.com","date":"2014-12-10T21:03:09Z"},"message":"Adding
        some existing content","tree":{"sha":"d736310d43084e45901d080e53fc2ebde7fb9b53","url":"https://api.github.com/repos/architects/githubfs-test/git/trees/d736310d43084e45901d080e53fc2ebde7fb9b53"},"url":"https://api.github.com/repos/architects/githubfs-test/git/commits/a1aff73084f6080a68592bbad36f963678e1e467","comment_count":0},"url":"https://api.github.com/repos/architects/githubfs-test/commits/a1aff73084f6080a68592bbad36f963678e1e467","html_url":"https://github.com/architects/githubfs-test/commit/a1aff73084f6080a68592bbad36f963678e1e467","comments_url":"https://api.github.com/repos/architects/githubfs-test/commits/a1aff73084f6080a68592bbad36f963678e1e467/comments","author":{"login":"datapimp","id":42960,"avatar_url":"https://avatars.githubusercontent.com/u/42960?v=3","gravatar_id":"","url":"https://api.github.com/[...]
- request:
    method: get
    uri: https://api.github.com/repos/architects/githubfs-test/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1435171309'
      Etag:
      - '"3f3cce0a49316f78435797b6a8df3f24"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 24 Jun 2015 17:41:54 GMT
recorded_with: VCR 2.9.3
